<!doctype html>
<html class="no-js" lang="en" ng-app="hsQuiz">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Highly Sensitive Quiz</title>
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/hsquiz.css">
        <script src="js/vendor/modernizr.js"></script>
    </head>

    <body ng-controller="QuizController as quiz" ng-cloak id="top-of-quiz">

        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">Go For Self tools</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <ul class="right">
                        <li><a href="http://goforself.me/get-in-touch/">Contact Andrew</a></li>
                        <li><a href="http://www.goforself.me" class="button">Return to www.goforself.me</a></li>
                    </ul>
                </section>

            </nav>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>Are you highly sensitive?</h2>
            </div>
        </div>

        <div class="row" ng-hide="quiz.showResult">
            <div class="large-12 columns">
                <div class="panel">
                    <h3>A self test</h3>
                    <p>This quiz is taken from the book <cite>The Highly Sensitive Person</cite> by <a href="http://www.hsperson.com/" rel="author">Elaine N. Aron Ph.D.</a></p>
                    <p>Answer each of the {{quiz.sensitivities.length}} questions according to the way you feel. Place a tick next to the statement if it is at least somewhat true for you. Otherwise if it is not very true or not at all true for you, leave it unticked. Click submit at the end to calculate your score.</p>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="quiz.displayQuiz">
            <div class="large-12 columns text-center">
                <a ng-click="quiz.startQuiz()" class="button large">Start Quiz</a>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <form ng-submit="quiz.displayResults()" ng-hide="quiz.showResult || !quiz.displayQuiz">
                    <div ng-repeat="statement in quiz.sensitivities">
                        <input id="question{{$index+1}}" type="checkbox" ng-model="statement.resonates"><label for="question{{$index+1}}">{{statement.question}}</label>
                    </div>

                    <div class="row">
                        <div class="small-6 medium-3 large-2 columns">
                            <input type="submit" class="medium radius button" value="Submit">
                        </div>
                        <div class="small-6 medium-9 large-10 columns">
                            <input type="button" class="medium secondary radius button" value="Reset" ng-click="quiz.resetQuiz()">
                        </div>
                    </div>
                </form>

                <div class="panel" ng-show="quiz.showResult">
                    <div class="panel callout radius">
                        <h4 ng-show="quiz.numQsChecked() >= 12">It seems you are highly sensitive.</h4>
                        <h2><small>Your score:</small> {{quiz.numQsChecked()}} <small>/ {{quiz.sensitivities.length}}</small></h2>
                    </div>

                    <p>The following is an extract from her book <cite>The Highly Sensitive Person</cite>...</p>
                    <blockquote>
                        <h3>Scoring yourself</h3>
                        <p>If you answered true to twelve or more of the questions, you're probably highly sensitive.</p>
                        <p>But frankly, no psychological test is so accurate that you should base your life on it. If only one or two questions are true of you but they are <em>extremely</em> true, you might also be justified in calling yourself highly sensitive.</p>
                    </blockquote>
                    <p>If you're interested in finding out more on the book, you can <a href="http://www.amazon.com/Highly-Sensitive-Person-Elaine-Ph-D/dp/0553062182">buy it on Amazon</a>.</p>

                    <input type="button" class="medium radius button" ng-click="quiz.resetQuiz()" value="Start quiz over">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="large-12 columns text-center">
                <footer>
                    <hr/>
                    <p>This web app was created by <a href="http://www.golightlyplus.com">Golightly+</a></p>
                </footer>
            </div>
        </div>

        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/hsquiz.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
